.date-seat-pair {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sfwd_option_div {
    margin-right: 10px;
}

.ld_date_selector {
    display: flex;
    align-items: center;
}

input[name="available_seats[]"] {
    margin-left: 10px;
    width: 60px;
    height: 35px; 
    margin-bottom: 6px;
}

.button-link-delete {
    margin-left: 10px;
}

